{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST" style="width: 50%; margin: auto;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 " style="text-align: center; margin: auto;">Add Album</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Add Album</button>
            </div>
        </form>
    </div>
{% endblock content %}