{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center m-5 ">All Musician</h1>
    
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Instrument Type</th>
            </tr>
        </thead>
        <tbody>
            {% for m in musicians %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.first_name }}</td>
                <td>{{ m.last_name }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.phone_number }}</td>
                <td>{{ m.instrument_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}